:root {
	--color-black: #0B0C10;
	--color-gray: #1F2833;
	--color-gold: #C5C6C7;
	--color-neon: #66FCF1;
	--color-green: #45A29E;
	--color-white: #FFFFFF;
}

* {
	background-color: var(--color-black);
	margin-left: 5px;
}

.TypistWelcome {
	margin-top: 2.5%;
	color: var(--color-white);
}
